extends ../layouts/default.pug

block consts
    - var title = "Services"
    - var dir = ''

append css
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' integrity='sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==' crossorigin='anonymous')

append script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js' integrity='sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==' crossorigin='anonymous')

block content
    .container-fluid
        .row.flex-lg-row-reverse.align-items-center.py-5
            .col-10.col-sm-8.col-lg-6
                img.d-block.mx-lg-auto.img-fluid(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678376358/Ceniteg/pexels-tom-fisk-2097855_j8nbe2.jpg' alt='Bootstrap Themes' width='700' height='500' loading='lazy')
            .col-lg-6
                h1.display-5.fw-bold.lh-1.mb-3 Asesoría y Soluciones Integrales en Minería y Medio Ambiente
                p.lead.fs-4 Nuestra empresa ofrece servicios de asesoría y soluciones integrales en el sector minero, ambiental y otros sectores productivos, para ayudar a nuestros clientes a cumplir con las normas ambientales y mejorar su eficiencia operativa.

    include ../../data/services
    include ../../mixins/modalService
    h2.container-fluid.d-flex.flex-wrap.justify-content-evenly.pt-5 NUESTROS SERVICIOS
    .container-fluid.d-flex.flex-wrap.justify-content-evenly.pt-5
        each service, key in services
            .card.col-md-6.col-lg-4.mb-5.bg-white(style='width: 22rem;',id=key)
                img.card-img-top(src=service.img, alt=service.alt, width="250")
                .card-body
                    h2.card-title #{service.name}
                    p.card-text #{service.description}
                    .row
                        .col-12.d-flex.justify-content-evenly
                            +modalService(service.name, service.topics, key)
                            a.btn.btn-warning.px-4.text-white(href="services/"+key+".pug") Ver Más 

    h2.container-fluid.d-flex.flex-wrap.justify-content-evenly.pt-5 NUESTROS CLIENTES
    .container-fluid.d-flex.flex-wrap.justify-content-evenly.py-5
        include ../../partials/sections/carouselClients
      
                    
     
        

