extends layouts/default.pug

block consts
    - var title = "Services"

block content
    .container-fluid
        .row.flex-lg-row-reverse.align-items-center.py-5
            .col-10.col-sm-8.col-lg-6
                img.d-block.mx-lg-auto.img-fluid(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678376358/Ceniteg/pexels-tom-fisk-2097855_j8nbe2.jpg' alt='Bootstrap Themes' width='700' height='500' loading='lazy')
            .col-lg-6
                h1.display-5.fw-bold.lh-1.mb-3 Asesoría y Soluciones Integrales en Minería y Medio Ambiente
                p.lead.fs-4 Nuestra empresa ofrece servicios de asesoría y soluciones integrales en el sector minero, ambiental y otros sectores productivos, para ayudar a nuestros clientes a cumplir con las normas ambientales y mejorar su eficiencia operativa. 
                //- Contamos con un equipo de expertos altamente capacitados en el campo de la minería y el medio ambiente que trabajan de manera colaborativa para ofrecer soluciones personalizadas a cada cliente.

    h2.container-fluid.d-flex.flex-wrap.justify-content-evenly.pt-5 NUESTROS SERVICIOS
    include partials/dataServices
    include partials/modalDefault
    .container-fluid.d-flex.flex-wrap.justify-content-evenly.pt-5
        each service, key in dataServices
            .card.col-md-6.col-lg-4.mb-5.bg-white(style='width: 22rem;',id=key)
                img.card-img-top(src=service.img, alt=service.alt, width="250")
                .card-body
                    h2.card-title #{service.name}
                    p.card-text #{service.description}
                    +modalDefault(service.name, service.topics, key)

    h2.container-fluid.d-flex.flex-wrap.justify-content-evenly.pt-5 NUESTROS CLIENTES
    .container-fluid.d-flex.flex-wrap.justify-content-evenly.py-5
        #carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride="carousel", style="width: 80%;")
            .carousel-inner
                .carousel-item.active(data-bs-interval='3000')
                    .row
                        .col-lg-4.text-center
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678323180/corpSolution/Img_Hero_dyxs21.jpg' alt='...', style="height: 250px; width: 250px; border-radius: 50%")
                        .col-lg-4.text-center.d-none.d-lg-block
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678470839/Ceniteg/pexels-singkham-1108572_vktx6a.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                        .col-lg-4.text-center.d-none.d-lg-block
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678470838/Ceniteg/pexels-pixabay-235615_kscqew.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                .carousel-item(data-bs-interval='3000')
                    .row
                        .col-lg-4.text-center.d-none.d-lg-block
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678470839/Ceniteg/pexels-singkham-1108572_vktx6a.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                        .col-lg-4.text-center.d-none.d-lg-block
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678470838/Ceniteg/pexels-pixabay-235615_kscqew.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                        .col-lg-4.text-center
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678323180/corpSolution/Img_Hero_dyxs21.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                .carousel-item(data-bs-interval='3000')
                    .row
                        .col-lg-4.text-center.d-none.d-lg-block
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678470839/Ceniteg/pexels-singkham-1108572_vktx6a.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                        .col-lg-4.text-center.d-none.d-lg-block
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678470838/Ceniteg/pexels-pixabay-235615_kscqew.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                        .col-lg-4.text-center
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678323180/corpSolution/Img_Hero_dyxs21.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                .carousel-item(data-bs-interval='3000')
                    .row
                        .col-lg-4.text-center.d-none.d-lg-block
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678470839/Ceniteg/pexels-singkham-1108572_vktx6a.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                        .col-lg-4.text-center.d-none.d-lg-block
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678470838/Ceniteg/pexels-pixabay-235615_kscqew.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
                        .col-lg-4.text-center
                            img(src='https://res.cloudinary.com/dokwefr5i/image/upload/v1678323180/corpSolution/Img_Hero_dyxs21.jpg' alt='...',style="height: 250px; width: 250px; border-radius: 50%")
            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
      
                    
     
        

