block consts

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CENITEG - #{title}
        meta(name='icon', type='image/png', href=dir + "../../favicon.png")
        link(rel="shortcut icon", href=dir + "../../favicon.png", type="image/x-icon")
        meta(property='og:title' content='CENITEG')
        meta(property='og:description' content='Somos una organización dedicada a impulsar el desarrollo de proyectos que generan valor a nuestros clientes del sector minería, gestión ambiental y producción, mediante la aplicación de ingeniería, transferencia tecnológica y educación.')
        meta(name="keywords", content="Ceniteg, Gestión Ambiental y Producción, Minería - Civil, Estudios Ambientales, Polvorines, Perforación y Voladura, Seguridad y Salud en el Trabajo, Gestión Empresarial, Economía Circular")

        block css
            link(rel="stylesheet", href=dir + "../../assets/scss/bootstrap.scss")
            link(rel="stylesheet", href=dir + "../../assets/sass/main.sass")

        block script 
            script(src=dir + "../../assets/ts/main.ts", type="module") 

    body
        include ../../partials/layouts/navbar.pug
        block content
        include ../../partials/layouts/footer.pug
        include ../../partials/layouts/ctaIcons.pug